#bread{width:1050px;margin: auto;}
.main_title{width: 1005px;height:50px; margin:20px auto;margin-bottom: 0px;}
.assist_title{width: 1005px; margin:0px auto;font-size: 14px;margin-bottom: 80px;}
.main_img{width: 535px;height:301px ; margin: 0px auto}
.neirong{width: 1005px;height: auto;margin: auto;margin-top: 40px;margin-bottom: 0px;background: #FFF;padding:40px}